* {
  margin: 0;
  padding: 0;
}
body {
   font-family: Arial, sans-serif;
   background-color: #c9db28f8;
   margin: 0;
   padding: 0;
  }
  * {
    margin: 0;
    padding: 0;
  }
  html,
  body {
    height: 100%;
  }
  .content {
    display: table-row;
    height: 100%;
  }
  html{
  height: 100%;
}
  .container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 20px;
  }
  
  h1 {
   text-align: center;
      margin: 0;
  }
  
  p {
   margin-bottom: 10px;
  }
  
  .article {
   background-color: #fff;
   border-radius: 5px;
   padding: 20px;
   margin-bottom: 20px;
  }
  
  header {
   background-color: #333;
   color: #fff;
   padding: 20px;
  }
  nav {
   padding: 10px;
   float: right;
  position: fixed;
  overflow: row;
      margin-left: 60%;
      height: 100%;
      width: 100%;
      background-color: #c9db28f8;
  }
  nav ul li {
   display: inline-block;
  }
.otd {
  width: 100%;
}
  nav ul li a {
   color: black;
   text-decoration: none;
  }
.link {
 display: inline-block;
font-size: 30px;
 border-radius: 5px;
 padding: 15px 25px;
    transition: all 1s ease 0s
}
.link:hover {
 background-color: #e53935;
}
main {
margin: 0px;
float: left;
background-color: #63e627;
width:  60%;
padding-bottom: 90px;
  }
  section {
   margin-bottom: 20px;
  }

  h2 {
   color: #333;
  }
  p {
   margin: 0;
  }
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  @media (max-width: 767px) {
    nav {
      overflow:auto;
    }
    nav ul li {
      display: inline-block;
      margin-right: 10px;
    }
  
    nav ul li a {
      padding: 5px;
    }
  }
  @media (min-width: 768px) {
    nav ul li {
      display: inline-block;
      margin-right: 10px;
    }
    nav ul li a {
      padding: 5px 10px;
    }
  }